.yellow{
    background-color: yellow;
    height: 50px;
    margin-bottom: 5px;
}

.blue{
    background-color: blue;
    height: 50px;
    margin-bottom: 5px;
}

.red{
    background-color: red;
    height: 50px;
    margin-bottom: 5px;
}

.green{
    background-color: green;
    height: 50px;
    margin-bottom: 5px;
}

.gray{
    background-color: gray;
    height: 50px;
    margin-bottom: 5px;
}